# Agent folders
.agent/
.agents/
.gemini/
.claude/
.cursor/
skills/
.opencode/

# Symlinks (Aggressive ignore)
**/.agents/
**/skills/

# Ignorar todo el contenido fuera de frontend para evitar que EAS escanee de más
docker/
.git/
node_modules/

# Ignorar archivos locales
.env
*.log
